body {
  background-color: #dadada;
  font-size: 16px;
  font-family: "arial";
}

.preview h1 {
  padding: 10px 0px 0px 10px;
}

.container {
  margin: 0 auto;
}

#heading {
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
}

.preview {
  width: 100%;
  height: 250px;
}

@media screen and (min-width: 575px) {
  .preview {
    width: 300px;
    display: inline-block;
    margin-bottom: 5px;
    height: 200px;
  }
  .container {
    width: 80%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 991px) {
  .preview {
    width: 200px;
    height: 200px;
    display: inline-block;
  }
}

.preview.baku {
  background-image: url("/images/baku.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.preview.london {
  background-image: url("/images/london.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.preview.madrid {
  background-image: url("/images/madrid.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.preview.rome {
  background-image: url("/images/rome.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}
